@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
   

*{
    margin:0;
    padding:0;
}
 .logo{

    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo img{
    width: 20%;
    border: solid white;
    border-radius:50px;

}
.navigationbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    width: 100%;
     cursor: pointer;  
}

nav #icon{
    color: red;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    margin-right: 40px;
 
    display:none;
    
}
.option{
    width: 50%;
    /* background-color: black; */
    display: flex;
    align-items: center;

    
}
.option li{
    list-style: none;
    padding: 20px 40px;
    font-family:montserrat;
    font-style:normal;
    font-size: large;
    

}
.option li a{
text-decoration: none;
color: white;
display: inline-block;

}
.option li a:hover{
    color: rgb(161, 2, 2);
    transition: .5s;
   
    }
.navigationbarleft{
    /* background-color: blueviolet; */
    width: 50%;
    text-align:start; 
    padding:0 23px;
    
    

}
#search{
    
    padding: 9px;
    font-size: 25px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/img10.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
/*//////////////////*/
.sectionfirst{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 70%;
    margin: auto;
    height: 75%;
}

.rigth{
    width: 75%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    

}

.left{
    width: 30%;    

}

.left img{
    width:70%;   
    /* padding: 4px 0; */
    border: 4px solid white;
    border-radius: 150px;
    border-color: gray;
    display: block;
    margin: auto;

}

.title{
    font-size: 40px;
    text-align:start;


}

.detail{
    font-size: 20px;
}

.btn {
    padding: 15px 20px;
    margin: 8px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
/*section start*/
.sectionsecond{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:90%;
    overflow: auto;
    padding: 0px 98px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.infoT{
    padding: 7%;
    
}
.demo1{
    border-radius: 20%;
    margin-top: 20%;
}
.details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media(max-width:1048px){
    .pp {
        font-size: 32px;
        padding-left: 60px;


    }
    nav .option{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media(max-width:909px){
    nav #icon{
        display: block;

    }
    nav .option{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
       
    }
    nav .option{
   
    margin:30px 0;
    line-height: 30px;
    display:block;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: blueviolet;

    }
    nav li.show{
        left: 0;
    }
} 