  * {
    margin: 0%;
    padding: 0%;
  }
  body{
    background-color: #CEE0E6;
  }

  .navbar {
    margin-bottom: 0;
    border: 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    background-color:#0A261F;
    padding: 5px;
   
  }
  
  /* menu */
  .navbar-default .navbar-toggle {
    border-color: transparent ;
    color: white !important;
   
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    fill: none;
  }
  
  .navbar-nav li a:hover  {
    color:#fff !important;
    
    background-color:transparent !important; 
    border: 2px solid #fff;
    border-radius: 9px;
  }
  .navbar-nav li.active a{
    background-color: transparent !important;
    border-bottom: 2px solid #fff;
  }
  @keyframes pulse{
     from{
      box-shadow: 0 0 25px #7effb2,0 0 50px #2cd9ff;
     border-radius: 9px;
    } 
    
  }
  .navbar-nav li a:focus{
    border-bottom: 2px solid #fff;
    animation:pulse 0.6s ease-in-out;
  }

  
.navbar-brand{
  font-family:inherit;
}
/* navigation style end */

.jumbotron {
  background: #2cd9ff;
  color: #fff;
  padding: 150px 25px;
  font-family: Montserrat, sans-serif;
}



.container{
  margin-top: 15px;
  margin-bottom: 10px;
  background-color:#F0EAE0;
}
  .container h3 {
    font-family: monospace;
    text-align: center;
  }

  .container .row {
    margin-top: 25px;
    
  }

  .row {
    width: 35%;

  }

  .phase {

    width: 100%;
  }

  .card {
    padding: 15px;
    width:300px ;
  }

  
  .view {
    display: flex;
    justify-content: end;
    margin-right: 25px;
  }

 