*{
  margin: 0%;
  padding: 0%;
}
.logo{

  width: 50px;
  display: flex;
  justify-content: start;
  border: #fff;
  border-radius: 50%;
  
}

.navbar {
  margin-bottom: 0;    
  border: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
 background-color:#0A261F;   
 padding: 5px;
}

/* menu */
.navbar-default .navbar-toggle {
  border-color: transparent ;
  color: white !important;
 
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active  {
  color:#fff !important;
  
  /* background-color:#51E5A1 !important;  */
  border: 2px solid #fff;
  border-radius: 9px;
}
@keyframes pulse{
   from{
    box-shadow: 0 0 25px #7effb2,0 0 50px #2cd9ff;
    
   border-radius: 9px;
  } 
  
}
.navbar-nav li a:focus{
  border-bottom: 2px solid #fff;
  animation:pulse 0.6s ease-in-out;
}

.navbar-brand{
  font-family:inherit;
}
/* navigation style end */

.jumbotron {
  background: #51E5A1;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.thumbnail{
border-color: black;
}

.caption{
  align-items: center;
  justify-content: center;
  display: flex;
}
